

name: Multi-Stage Docker Pipeline

on:
  push:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-Nginx
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t siva-web:Nginx .
          docker save siva-web:Nginx > image.tar

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

  Test:
    runs-on: ubuntu-Nginx
    needs: build
    steps:
      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
