
name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Stage 1: Build
      - name: Build Docker image
        run: docker build -t golisivaprasad/siva-web:latest .

      # Stage 2: Test
      - name: Test Docker image
        run: |
          docker run -d -p 8080:80 golisivaprasad/siva-web:latest
          sleep 5
          curl http://localhost:8080 | grep "IAM-SIVA-PRASAD"

      # Stage 3: Push
      - name: Push Docker image
        run: docker push golisivaprasad/siva-web:latest
